.block_status-on{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 20px;
    gap: 20px;
    top: 10px;
    width: auto;
    height: auto;
    
}
.block_status_healse{
    width: 400px;
    height: 20px;
    border-radius: 80px;
    border: 1px solid red;
}
.block_status_energy{
    width: 400px;
    height: 20px;
    border-radius: 80px;
    border: 1px solid blue;
}
.block_status_healse-view{
    width: 200px;
    height: 20px;
    border-radius: 80px;
    background-color: red;
}
.block_status_energy-view{
    width: 200px;
    height: 20px;
    border-radius: 80px;
    background-color: blue;
}
